@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap");

//primary color
$strong-cyan: #26c0ab;

//neutral colors
$very-dark-cyan: #00494d;
$dark-grayish-cyan1: hsl(186, 14%, 43%);
$dark-grayish-cyan2: hsl(184, 14%, 56%);
$body-background: hsl(185, 41%, 84%);
$input-clr: hsl(189, 41%, 97%);
$White: hsl(0, 0%, 100%);

.attribution {
  font-size: 11px;
  text-align: center;

  a {
    color: hsl(228, 45%, 44%);
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: $body-background;
  height: 100vh;
  font-family: "Space Mono", sans-serif;
}

.container {
  width: 100%;
  display: flex;
  justify-content: center;
}

// General Typgraphy
label {
  color: $dark-grayish-cyan1;
  font-weight: 700;
}

input {
  font-size: 24px;
  font-family: inherit;
  color: $very-dark-cyan;
  font-weight: 700;
}

//Layout
.logo-section {
  margin: 3em 0;
  text-align: center;
}

.calculator {
  max-width: 500px;
  background-color: white;
  padding-top: 2em;
  border-radius: 20px 20px 0 0;

  button {
    cursor: pointer;
  }
}

input {
  width: 100%;
  border: none;
  background-color: $input-clr;
  border-radius: 5px;
  text-align: right;
  padding: 0.25em 1em;
  margin-bottom: 1em;
  background-repeat: no-repeat;
  background-position: 5%;

  &::placeholder {
    color: $very-dark-cyan;
  }
}

label {
  display: inline-block;
  margin-bottom: 0.5em;
}

.input-section {
  padding: 0 2em;
  flex: 1;
}

.info-section {
  padding: 0 1.5em;
  flex: 1;
}

.bill-input {
  background-image: url(/images/icon-dollar.svg);
}

//removes spin button
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.button-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 15px;
  margin: 0.5em 0 2em 0;

  .percent-btn {
    border: none;
    color: #fff;
    background-color: $very-dark-cyan;
    border-radius: 5px;
    font-size: 1.5rem;
    font-family: inherit;
    font-weight: 700;
    padding: 0.25em 0;

    &:hover {
      background-color: $body-background;
      color: $very-dark-cyan;
    }
  }

  .selected-btn {
    background-color: $strong-cyan;
    color: yellow;
  }

  .custom {
    background-color: $input-clr;
    color: $very-dark-cyan;
    &::placeholder {
      color: $dark-grayish-cyan1;
    }
    font-weight: 700;
    height: 100%;
    padding: 0 0.5em;
  }
}

.people-input {
  background-image: url(/images/icon-person.svg);
}

.tip-display {
  background-color: $very-dark-cyan;
  border-radius: 20px;
  margin: 1em 0;
  padding: 3em 2em 2em 2em;

  label {
    color: white;
    font-size: 1.25rem;
    margin-bottom: 0;
  }

  p {
    color: $dark-grayish-cyan2;
  }

  .tip {
    margin-bottom: 1.5em;
  }

  div:nth-child(2) {
    margin-bottom: 2em;
  }
}

.display-section {
  display: flex;
  justify-content: space-between;

  .final-amt {
    color: $strong-cyan;
    font-size: 2rem;
    font-weight: 700;
  }
}

.reset-btn {
  width: 100%;
  color: $very-dark-cyan;
  font-size: 1rem;
  padding: 1em;
  border-radius: 5px;
  border: none;
  text-transform: uppercase;
  font-weight: 700;
  background-color: $strong-cyan;
}

@media (min-width: 755px) {
  
  body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .calculator {
    display: flex;
    max-width: 900px;
    border-radius: 20px;
    padding: 2em;
  }

  .button-grid {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }

  .info-section {
    padding: 0;

    .tip-display {
      height: 100%;
      margin: 0;
      position: relative;
    }

    .display-section {
      margin-bottom: 2em;

      .final-amt {
        font-size: 3rem;
      }

      label {
        margin-top: 1em;
      }
    }
  }

  .reset-btn {
    position: absolute;
    bottom: 7%;
    left: 10%;
    width: 80%;
  }
}
